## {{ ansible_managed }}

AcceptEnv {{ system_security_ssh_AcceptEnv }}
AllowStreamLocalForwarding {{ 'yes' if system_security_ssh_AllowStreamLocalForwarding|bool else 'no' }}
AllowTcpForwarding {{ 'yes' if system_security_ssh_AllowTcpForwarding|bool else 'no' }}
AuthorizedKeysFile {{ system_security_ssh_AuthorizedKeysFile }}
ChallengeResponseAuthentication {{ 'yes' if system_security_ssh_ChallengeResponseAuthentication|bool else 'no' }}
ClientAliveInterval {{ system_security_ssh_ClientAliveInterval }}
Compression {{ 'yes' if system_security_ssh_Compression|bool else 'no' }}
GatewayPorts {{ 'yes' if system_security_ssh_GatewayPorts|bool else 'no' }}
IgnoreRhosts {{ 'yes' if system_security_ssh_IgnoreRhosts|bool else 'no' }}
MaxAuthTries {{ system_security_ssh_MaxAuthTries }}
PasswordAuthentication {{ 'yes' if system_security_ssh_passwordauth|bool else 'no' }}

PermitEmptyPasswords {{ 'yes' if system_security_ssh_PermitEmptyPasswords|bool else 'no' }}
PermitRootLogin {{ 'yes' if system_security_ssh_rootlogin|bool else 'no' }}

PermitTunnel {{ 'yes' if system_security_ssh_PermitTunnel|bool else 'no' }}
Port {{ system_security_ssh_port }}
PrintLastLog {{ 'yes' if system_security_ssh_PrintLastLog|bool else 'no' }}
PrintMotd {{ 'yes' if system_security_ssh_PrintMotd|bool else 'no' }}
PubkeyAuthentication {{ 'yes' if system_security_ssh_PubkeyAuthentication|bool else 'no' }}
Subsystem	sftp	{{ system_security_ssh_sftp_server }}
UseDNS {{ 'yes' if system_security_ssh_UseDNS|bool else 'no' }}
UsePAM {{ 'yes' if system_security_ssh_UsePAM|bool else 'no' }}
X11Forwarding {{ 'yes' if system_security_ssh_X11Forwarding|bool else 'no' }}
{{ system_security_ssh_extension }}
